/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

/* @font-face {
	font-family: 'QuicheFont';
	src: url('./Fonts/Quiche-Sans-Font/QuicheSans-Black.otf'),
			('./Fonts/Quiche-Sans-Font/QuicheSans-Medium.otf');
} */

@font-face {
	font-family: 'QuicheFontmedium';
	src: url('./Fonts/Quiche-Sans-Font/QuicheSans-Medium.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
  }
  
@font-face {
    font-family: 'QuicheFontbold';
    src: url('./Fonts/Quiche-Sans-Font/QuicheSans-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

html{
	overflow-x: hidden !important;
}

a,
a:focus,
a:hover {
	text-decoration: none
}


*,
body,
img {
	margin: 0;
	padding: 0
}


a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}


ol,
ul {
	list-style: none
}


blockquote,
q {
	quotes: none
}


blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none
}


table {
	border-collapse: collapse;
	border-spacing: 0
}


* {
	box-sizing: border-box
}


a {
	outline: 0;
	border: none;
}


a:focus {
	outline: 0;
	border: none;
}


a:hover {
	outline: 0;
	border: none;
}


button {
	outline: 0;
	border: none;
}


button:hover {
	outline: 0;
	border: none;
}


button:focus {
	outline: 0;
	border: none;
}


.spacer {
	clear: both;
	line-height: 0;
	font-size: 0
}


img {
	border: 0;
	height: auto;
	max-width: 100%
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal
}


select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}


html {
	overflow-x: hidden;
}


body {
	font-family: Roboto, sans-serif;
	overflow-x: hidden;
}

/* Avijit styles */
.mt-25{
	margin-top: 25px;
}
.mt-50{
	margin-top: 50px;
}
.mt-75{
	margin-top: 75px;
}
.mt-100{
	margin-top: 100px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-50{
	margin-bottom: 50px;
}
.mb-75{
	margin-bottom: 75px;
}
.mb-100{
	margin-bottom: 100px;
}
.pt-25{
	padding-top: 25px;
}
.pt-50{
	padding-top: 50px;
}
.pt-75{
	padding-top: 75px;
}
.pt-100{
	padding-top: 100px;
}
.pb-25{
	padding-bottom: 25px;
}
.pb-50{
	padding-bottom: 50px;
}
.pb-75{
	padding-bottom: 75px;
}
.pb-100{
	padding-bottom: 100px;
}
.fw700{
	font-weight: 700;
}
.fw600 {
	font-weight: 600;
}
.fw500{
	font-weight: 500 !important;
}
.fw900{
	font-weight: 900;
}
.font13 {
	font-size: 13px;
}

.font14{
	font-size: 14px !important;
}

.font16 {
	font-size: 16px;
}

.font18 {
	font-size: 18px;
}

.font20 {
	font-size: 20px;
}

.font24{
	font-size: 24px;
}

.font32{
	font-size: 32px;
}

.headerTxt {
	font-size: 50px !important;
}

.topnav {
	background-color: #162c28;
	padding: 10px 10px;
}

.nav-item .nav-link{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	color: #505050;
}
.quizbtn2 {
    background-color: #ff8a1f;
    border-radius: 39px;
    height: 43px;
    width: 200px;
    color: #fff;
    font-size: 16px;
}
.quizbtn2:hover {
    background-color: #d86d08;
    border-radius: 39px;
    height: 43px;
    width: 200px;
    color: #fff;
    font-size: 16px;
}
.bg-transparent{
	background-color: transparent;
}
.hero-bg{
	background-image: url(assets/hero_bg.png);
	background-position: center;
	/* background-repeat: no-repeat; */
}
.hero-cont{
	margin-top: -3rem;
}
.hero-img{
	margin-top: -2rem;
}
.grayinter{
	color: #3e3e3e !important;
	font-family: "Inter", sans-serif;
}
.font18{
	font-size: 18px;
}
.hero-textBox{
	width: 85%;
	float: right;
}
.testBox {
	border-radius: 12px;
	box-shadow: 0px 0px 40px 0px #0000000F;
}
.testBox img{
	width: 72px;
	height: 72px;
	border-radius: 50%;
	object-fit: cover;
}
.bg-light{
	background-color: #fff !important;
}
.testBoxGray{
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	text-align: left;
	color: #696969;
}
.navbar-cont{
	background-color: transparent;
}

.hero-h4{
	display: none;
	font-family: QuicheFont;
	font-size: 26px;
	font-weight: 700;
	line-height: 31.2px;
	text-align: center;
	color: #162C28;

}
.mr-2 {
    margin-right: .5rem !important;
}

.timer {
	background-color: #e85d4c;
	border-radius: 6px;
	padding: 5px 5px;
}

.truck {
	background-image: url(assets/Truck.png);
	background-position: center;
	background-size: cover;
	display: block;
	height: 30px;
	width: 30px;
}

.settings {
	background-image: url(assets/Settings.png);
	display: block;
	background-position: center;
	background-size: cover;
	height: 30px;
	width: 30px;
}

.topnavIconCont {
	display: flex;
	align-items: center;
}
.topnavIconCont i{
	margin-right: 0.5rem;
}
.topnavIconCont span{
	font-size: 14px;
}
/* As seen on */
.companies {
	background-color: #2a513a;
}

.bgabstract {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 405px;
	
}

.intergreen{
	font-family: "Inter", sans-serif;
	color: #1e462e !important;
}

.interdarkgreen{
	font-family: "Inter", sans-serif;
	color: #192f2b;
}

.quichefont {
	font-family: QuicheFont;
}

.quichefontWhite {
	font-family: QuicheFontmedium;
	color: #fafbfa;
	font-weight: 400;
}

.quichefontGreen {
	font-family: QuicheFontmedium;
	color: #162c28;
}


.whiteinter {
	color: #ffffff;
	font-family: "Inter", sans-serif;
}

.blackinter {
	color: #1e1e28;
	font-family: "Inter", sans-serif;
}

.redishgrayinter {
	color: #333333;
	font-family: "Inter", sans-serif;
}

.darkgrayinter{
	color: #505050;
	font-family: "Inter", sans-serif !important;
}

.lightgrayinter {
	color: #a1a1a1 !important;
	font-family: "Inter", sans-serif;
}

.blackinter {
	color: #212429;
	font-family: "Inter", sans-serif;
}

.powerfulSupFood {
	background-color: #f1fbf5;
}

.quizbtn {
	background-color: #ff8a1f;
	border-radius: 39px;
	height: 56px;
	width: 353px;
	color: #fff;
}

.quizbtn:hover {
	background-color: #ce7421;
	border: 1px solid #fff;
	color: white;
}

.lock {
	background-image: url(assets/Lock.png);
	background-position: center;
	background-size: cover;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.ctaImg {
	width: 40px;
}
input[type="text"]:focus {
    outline: none;         
    box-shadow: none;   
}
input[type="text"]::placeholder {
	color: #fff; 
	font-family: "Inter", sans-serif;

}

.buttonInside{
	position:relative;
	margin-bottom:10px;
  }
  input{
	background-color: #1e462e;
	height:25px;
	width:580px;
	height: 64px;
	padding:10px 24px;
	border-radius: 8px;
	border: 1px solid white;
  }
  input::placeholder {
	color: white;
	font-family: "Inter", sans-serif;
  }
  input::placeholder:focus{
	outline: none;
  }
  .subs{
	position: absolute;
    right: 29%; 
    top: 67.5%; 
    border: none;
    border-radius: 8px;
    outline: none;
    text-align: center;
    font-weight: bold;
    padding: 16px 32px;
  }
  .erase:hover{
	cursor:pointer;
  }
.accordion-button:not(.collapsed) {
	color: white !important;
    background-color: #374e4b !important;
    /* box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); */
}
.accordion-button{
	background-color: #f5fff8;
}
.accordion-button:focus {
    outline: none; 
    box-shadow: none;
	border: none;
}
.accordion-body{
	background-color: #f5fff8;
}
.accordion {
	--bs-accordion-inner-border-radius: none !important;
}
/* .accordion-header{
	border: 2px solid black;
	border-radius: 20px !important;
} */
.accordion-item{
	border: none !important;
	border-radius: 20px !important;
} 
.accordion-button {
	border: 1px solid #374e4b;
	border-radius: 8px !important;
} 
.accordion-button:hover {
	border: 1px solid #374e4b;
	border-radius: 8px !important;
} 
.accordion-button:focus {
	border: 1px solid #374e4b;
	border-radius: 8px !important;
} 
.FAQ{
	background-color: #f5fff8;
}
.subscribe{
	position: sticky;
    z-index: 100;
}
.slimgreen3img{
	max-width: 120%;
	position: relative;
	right: 20%;
    bottom: 10%;
}
.pros{
	background-color: #f5fff8;
}

.testimonial-section {
	padding: 60px 0;
}

.testimonial-title {
	font-weight: 600;
	font-size: 2.5rem;
}

.testimonial-subtitle {
	color: #777;
	margin-bottom: 40px;
}

.testimonial-card {
	background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    margin-top: 50px;
	height: 230px;
}

.testimonial-img {
	position: absolute;
    top: -56px;
    left: 17%;
    transform: translateX(-50%);
    width: 82px;
    height: 82px;
    border-radius: 50%;
    object-fit: cover;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.star-rating {
	color: #428c7f;
	margin: 15px 0;
}

.customer-name {
	font-weight: bold;
	margin-top: 10px;
}

.verified-badge {
	font-size: 0.9rem;
	color: #007bff;
}

/* Arrows Styling */
.carousel-controls {
	text-align: center;
	margin-top: 20px;
}

.carousel-controls button {
	/* background-color: #000; */
	border: none;
	color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin: 0 10px;
}
#prevBtn{
	background-color: #bac0bf;
}
#nextBtn{
	background-color: #162c28;
}
.correct{
	background-color: white;
}
.correcticon{
	background-image: url(assets/green.png);
	background-position: center;
	background-size: cover;
	display: block;
	height: 24px;
	width: 24px;
}
.girdsystem{
	display: grid;
	justify-content: center;
	border-bottom: 1px solid #e6e6e6;
	width: width-content;
}
.ml35{
	margin-left: 35px;
}
.ladypic{
	border: 0;
    height: auto;
    max-width: 162%;
    position: relative;
    top: 5%;
	right: 33%;
}
.ladyTexttobeShownInSmall{
	display: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.superfoodright{
	padding-right: 8rem;
}




















/* Media query */
@media only screen and (max-width :400px) {
	html{
		overflow-x: hidden !important;
	}
	.mobfont16{
		font-size: 16px !important;
	}
	.headerTxt{
		font-size: 26px !important;
	}
	.mobfont32{
		font-size: 32px !important;
	}
	.slimgreen3img{
		max-width: 100% !important;
		right: 5% !important;
		bottom: 10%;
	}
	.product{
		margin-top: 60px !important;
	}
	.fa-star{
		font-size: 10px !important;
	}
	.searchbox-wrap{
		width: 320px !important;
	}
	.multiPayment{
		margin-left: 6px !important;
	}
	.ladypic{
		border: 0;
		height: auto;
		max-width: 100% !important;
		position: relative;
		top: 0% !important;
		right: 0% !important;
	}
	.tobehiddenInSmall{
		display: none;
	}
	.ladyTexttobeHiddenInSmall{
		display: none !important;
	}
	.ladyTexttobeShownInSmall{
		display: block !important;
	}
	.searchbox-wrap{
		width: 320px !important;
	}
	.subscribeBtn{
		width: 149px !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:320px !important;
		height: 64px;
		padding:10px 13px !important;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 11% !important;
    	top: 67% !important;
		padding: 14px !important;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .testimonial-img{
		left: 50%;
	  }
	  .superfoodsmall{
		display: block;
	  }
	  .superfoodlarge{
		display: none;
	  }
	  .quizbtn {
		background-color: #ff8a1f;
		border-radius: 39px;
		height: 56px;
		width: 338px;
		color: #fff;
	}
}

@media only screen and (min-width :400px) {
	html{
		overflow-x: hidden !important;
	}
	.mobfont16{
		font-size: 16px !important;
	}
	.headerTxt{
		font-size: 26px;
	}
	.mobfont32{
		font-size: 32px !important;
	}
	.slimgreen3img{
		max-width: 100% !important;
		right: 5% !important;
	}
	.product{
		margin-top: 60px !important;
	}
	.fa-star{
		font-size: 10px !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:360px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 11%;
    	top: 67%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .testimonial-img{
		left: 50%;
	  }
}


@media only screen and (min-width :480px) {
	html{
		overflow-x: hidden !important;
	}
	.slimgreen3img{
		max-width: 100% !important;
		right: 5% !important;
	}
	.product{
		margin-top: 60px !important;
	}
	.fa-star{
		font-size: 10px !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:360px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 11%;
    	top: 72.9%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .slimgreen3img {
        max-width: 85% !important;
        left: 7% !important;
      }

}

 @media only screen and (max-width :576px) {
	html{
		overflow-x: hidden !important;
	}
	.tobehiddenInSmall{
		display: none;
	}
	.tobeshownInSmall{
		display: block !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:360px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 11%;
		top: 73%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .navbar-brand{
		display: contents;
	  }
	  .navLogo{
		width: 70% !important;
	  }
	  .hero-textBox{
		width: 100%;
		float: left;
	}
	.hero-cont{
		margin-top: 0;
	}
	.hero-img{
		margin-top: 1rem;
	}
	.navbar-cont{
		background-image: url(assets/hero_bg.png);
		background-position: center;
		
	}
	.hero-h4{
		display: block;
	}
	.hero-p1{
		text-align: center;
	}
	.fs-sm14{
		font-size: 14px !important;
	}
	.fs-sm12{
		font-size: 12px !important;
	}
	.superfoodright{
		padding-right: 0rem;
	}
	.superfoodlarge{
		display: none;
	}
} 

@media only screen and (min-width :576px) {
	html{
		overflow-x: hidden !important;
	}
	
	.tobeshownInSmall{
		display: none !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:320px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 19%;
		top: 67.5%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .superfoodsmall{
		display: none;
	  }
	  .superfoodlarge{
		display: block;
	  }
}


@media only screen and (min-width :768px) {
	html{
		overflow-x: hidden !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:520px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 19%;
		top: 67.5%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .superfoodright{
		padding-right: 0rem;
	}
}


@media only screen and (min-width :992px) {
	html{
		overflow-x: hidden !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:520px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 32%;
		top: 68%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
	  .superfoodright{
		padding-right: 3rem !important;
	}
}


@media only screen and (min-width :1200px) {
	html{
		overflow-x: hidden !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:520px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 32%;
		top: 68%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
}


@media only screen and (min-width :1280px) {
	html{
		overflow-x: hidden !important;
	}
	.buttonInside{
		position:relative;
		margin-bottom:10px;
	  }
	  input{
		background-color: #1e462e;
		height:25px;
		width:520px;
		height: 64px;
		padding:10px 13px;
		border-radius: 8px;
		border: 1px solid white;
	  }
	  input::placeholder {
		color: white;
		font-family: "Inter", sans-serif;
	  }
	  input::placeholder:focus{
		outline: none;
	  }
	  .subs{
		position: absolute;
		right: 32%;
		top: 68%;
		padding: 14px;
	  }
	  .erase:hover{
		cursor:pointer;
	  }
}


@media only screen and (min-width :1366px) {
	html{
		overflow-x: hidden !important;
	}
	/* .container {
		max-width: 1336px;
	} */
}